.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 3;

    padding: 50px 25px 45px 75px;
    border-radius: 10px;
    background: -webkit-linear-gradient( 90deg, rgb(183,134,40) 0%, rgb(198,147,32) 22%, rgb(219,165,20) 51%, rgb(238,182,9) 80%, rgb(252,194,1) 100%);    

    font-family: "Changa", serif;

    color: rgb(255, 194, 72);

     p:nth-of-type(1) {
         margin-bottom: 40px;
     }

     p:nth-of-type(2) {
        margin-bottom: 18px;
    }

     a:nth-of-type(1) {
        margin-top: 45px;
     }

    &-wrapper {
        max-width: 680px;
        display: flex;
        justify-content: center;
        align-self: center;

        position: relative;

        border: 5px solid #ffc248;
        padding: 13px 20px;
        border-radius: 5px;
    }

    @include breakpoint(1100) { 
        padding-right: 40px;
    }

    @include breakpoint(480) {
        padding: 30px 25px 25px 25px;
    }

    @include breakpoint(400) {
        .wrapper {
            width: 300px;
        }
    }

    @include breakpoint_h(668) {
        &-wrapper {
            align-self: flex-end;
            margin-bottom: 40px;
        }
    }

    @include breakpoint_h(568) {
        &-wrapper {
            align-self: flex-end;

            margin-bottom: 0;
        }

        a:nth-of-type(1) {
            margin-top: 30px;
         }
    }
}